body {
    background-color: rgb(92, 172, 145);
}

.title {
    text-align: center;
    font-size: 34px;
}

.threadWrapper {
    background-color: #d3db61;
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
}

.childWrapper {
    border: 1px solid black;
    padding: 10px;
}

.threadTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 6px;
    height: 60px;
}

.threadTitle h1 {
    color: rgb(53, 109, 83);
    margin-left: 3px;
    font-style: 27px;
}

section {
    padding: 0 10px;
}

section .nameArea {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

section .username {
    color: green;
    font-weight: 700;
}


section .comment {
    margin-top: 0;
    margin-left: 20px;
  }
  
  .formWrapper {
    padding: 16px;
    margin-left: 20px;
  }
  
  .commentTextArea {
    margin-top: 10px;
    width: 500px;
    height: 90px;
    resize: none;
  }
  
  .errorMessage {
    color: red;
    margin-left: 70px;
  }
  
  /* 新規スレッド */
  .newThreadWrapper {
    background-color: #d6aa81;
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .newChildThreadWrapper {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(214, 151, 151);
  }
  
  .newChildThreadWrapper button a {
    width: 150px;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
  }